@import '../../../sass/colors';
.search{
    display: flex;
    justify-content: space-between;
    width: 20rem;
  }
  button{
    border-radius: 0.2rem;
    background-color: $red;
    color: $grey;
    margin: 0.5rem;
    margin-left: -0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border: 0.1rem solid $red;
  
  }
  
  input{
    border: 0.1rem solid $grey;
    border-radius: 0.2rem;
    padding: 0.3rem;
    width: 100%;
    margin: 0.5rem;
  
  }
