@import '../../../sass/colors';
button {
    border-radius: 0.2rem;
    background-color: $red;
    color: $grey;
    padding: 0.5rem;
    font-weight: bold;
    border: 0.1rem solid $red;
  
  }
  .range{
    display: flex;
    justify-content: space-around;
  }