@import '../../../sass/colors';

.responsive{
    overflow-x:auto;
    margin: 0.5rem;
    border: 0.1rem solid $grey;
    border-radius: 0.2rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
  }
  
  th, td {
    text-align: left;
    padding: 0.5rem;
    vertical-align: middle
  }
  
  tr:nth-child(even) {
    background-color: $red-transparent;
  }
  .hero{
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .mobile{
      display: none;
    }
  }