<app-range></app-range>
<div class="responsive">
    <table>
        <tr>
            <th></th>
            <th>Personagem</th>
            <th class="mobile">Series</th>
            <th class="mobile">Eventos</th>
        </tr>
        <tr *ngFor="let hero of list">
            <td>
                <img [src]="hero.getImage()" alt="hero" />
            </td>
            <td>{{hero.name}}</td>

            <td *ngIf="hero.series.items.length; else noRegister">
                <div *ngFor="let item of hero.series.items | slice:0:3">
                    <div class="mobile">{{item.name | slice:0:27}}...</div>
                </div>
            </td>
            <td *ngIf="hero.events.items.length; else noRegister">
                <div *ngFor="let item of hero.events.items | slice:0:3">
                    <div class="mobile">{{item.name}}</div>
                </div>
            </td>




        </tr>
    </table>
</div>

<ng-template #noRegister>
    <td class="mobile"> Nenhum registro</td>
</ng-template>